/*=====================================================
            recent views scss start
=====================================================*/
#recent_views {
    padding: 70px 0;

    .common_col {
        position: relative;
        margin-bottom: 30px;

        &::after {
            position: absolute;
            background: #eee;
            content: '';
            left: 12px;
            top: 35px;
            width: 98.2%;
            height: 1px;
        }
    }

    .common_headding {
        text-align: start !important;

        h3 {
            @include fontstyle (#333, 20px, 'Poppins', 700);
            text-transform: capitalize;
        }
    }
    .recent_img{
        position: relative;
        width: 141px;
        cursor: pointer;
        &:hover{
           .overliy{
            visibility: visible;
            opacity: 1;
            transition: all linear .2s;
            a{
                transform: translateY(-10%);
                transition: all linear .2s;
            }
           }
        }
        .overliy{
            position: absolute;
            left: 0;
            top: 0;
            width: 99%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            visibility: hidden;
            opacity: 0;
            transition: all linear .2s;
            a{
                text-align: center;
                @include fontstyle (#fff, 12px, 'Poppins', 600);
                position: absolute;
                left: 0%;
                top: 45%;
                transition: all linear .2s;
                &:hover{
                    text-decoration: underline;
                }
            }
            .wy{
                    left: 11%;                
            }
            .wi{
                    right: 0%;
            }
            .wa{
                    left: 25%;
            }
            .we{
                    left: 26%;
            }
            .wey{
                    left: 5%;
            }
            .woy{
                    left: 23%;
            }
            .wo{
                    left: 20%;
            }
        }
        a{
            img{
                width: 141px;
            }
        }
    }
}

/*=====================================================
            recent views scss end
=====================================================*/